<div class="line-header" id="<%= @line.name.downcase %>"><h2><%= @line.name %></h2></div>

<div class="vertical-map" style="background-color: <%= @line.color %>; height: <%= @line.stations.count * 37.9 %>px">
  <% @line.stations.count.times do %>
		<div class="vertical-map-dot"></div>
	<% end %>
</div>

<%# @line.stations.order("latitude").reverse_order.each do |station| %>
<% @line.stations.each do |station| %>
  <div>
   <div class="station-name"><a href="/stations/<%= station.cta_id %>"><h2><%= station.name %></h2></a></div>

    <% station.lines.each do |line| %>
      <% if line.name != @line.name %>
      <div class="line-icon" id="<%= line.name.downcase %>">&nbsp;</div>
      <% end %>
    <% end %>
  </div>
<% end %>

