<!-- <div class="station-header"><h2><%= @station.name %></h2></div> -->




<div class="station-header">
	<div class="sh-left">
		<% @station.lines.each do |line| %>
		<div class="station-color" style="height: <%= (1.0 / @station.lines.count * 100).to_s %>%; background-color: <%= line.color %>">
		</div>
		<% end %>
	</div>
	<div class="sh-center"><h2><%= @station.name %></div>
	<div class="sh-right">
		<% @station.lines.each do |line| %>
		<div class="station-color" style="height: <%= (1.0 / @station.lines.count * 100).to_s %>%; background-color: <%= line.color %>">
		</div>
		<% end %>
	</div>
</div>

<% if current_user %>
	<% unless current_user.stations.find(@station.id) %>
	<div class="add-station">
		<form action="/add/station/<%= @station.id %>" method="post">
			<input id="add-station-id" type="hidden" value="<%= @station.id %>">
			<input id="add-station-submit" type="submit" value="Add to MyStations">
		</form>
	</div>
	<% end %>
	<% if current_user.stations.find(@station.id) %>
	<div class="add-station">
		<form action="/add/station/<%= @station.id %>" method="post">
			<input id="add-station-id" type="hidden" value="<%= @station.id %>">
			<input id="add-station-submit" type="submit" value="Remove from MyStations">
		</form>
	</div>
	<% end %>

<% end %>

<div id="map-canvas"></div>




<input type=hidden id="latitude" value="<%= @station.latitude %>">
<input type=hidden id="longitude" value="<%= @station.longitude %>">
